# Playful Pandas
`pandas` is a very popular and powerful Python module used by data scientists to perfom many tasks, and make their lives easier. In this lab you will be exploring and using the `pandas` library to be used in your unit project.

For any questions, edit the appropriate markdown block and answer between the ` ``` ``` ` using complete sentences. 

For any code blocks you are to include comments explaining your code to recieve full credit.

1. Go to the `pandas` documentation site [here](https://pandas.pydata.org/) to learn more about the library. In your own words describe what `pandas` is used for, and what features does it offer to data scientists?
```
Pandas is modlualer which is used to manipulate data and to do data science
```

2. Using the terminal install the `pandas` library. What command did you use?
```
pip3 install pandas
```

In [6]:
# Importing pandas
import pandas as pd#imports panda in python

3. `pandas` loads data into what is known as a dataframe (df for short). What function from the `pd` library is used to load data from a csv file?
```
the read_csv() is the function we used to work csv files
```

Use this function in the code block below to load data from the file `titanic.csv` into a variable called `df`

In [10]:
df = pd.read_csv("titanic.csv")#stores csv file as df for use later

Now that we have our data loaded into pandas we can try out our first function `df.head()`. Run the code block below.

In [11]:
df.head()#prints 5 closest rows of information in collons inside of file

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

4. Describe the output of the `df.head()` function, what could it be used for?
```
it could be used in order to see how files will be show and see how it was saved
```

5. What information is avaiable to perform data analytics
```
who survieved , names and gender also their gneder, ticket number and thier cabin they stayed in
```

5. Using the pandas documentation find the function that will give us a list of all the columns present in the dataset. Then Use the function in the codeblock below this question
```

```

In [13]:
list_colums = df.columns.tolist()#stores collon names for later use 
print(list_colums)#prints collon names

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

If we want to focus in on one column, we can do a similar operation that we will do with `dict`'s. 

Create a variable called `age`, then using square brackets set it equal to the dataframe's age column.

In [14]:
age =  df["Age"]#stores all of age collon inside for use later

Now that we have a variable that is a specific column, we can use the `min`, `max` and `mean` functions with that variable. 

Run the codeblock below:

In [15]:
print("max() :", age.max())#prints age of oldest person on ship 


print("min() :", age.min())#prints age of youngest person on ship 


print("mean() :", age.mean())#prints median age of people on ship

max() : 80.0
min() : 0.42
mean() : 29.69911764705882

6. What are the outputs of the various functions? How would these functions be useful in data science?
```
it could be used in order to find average and mean of numbers for example age or amout of sold items in store
```

7. Watch the following video about pandas `group_by` function. [Watch Here](https://www.youtube.com/watch?v=qy0fDqoMJx8). What is the purpose of the group by function? How can it be used in data science operations?
```
it can be used in order to sort items and use them in other way. It can be used to show difference bettwen 2 or more colums in csv file.
```

Using our already existing dataframe (`df`) use the goup by function to figure out what the average age of those who survived the Titanic sinking vs those who did not survive.

In [17]:
df.groupby('Survived').Age.mean()#groupby is used to sort survived people by age

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64